---
import ButtonMain from './ButtonMain.astro';
---

<figure class="w-full flex flex-col items-center text-white px-[1em] py-0 bg-fucsia grid gap-y-5 pb-5">
	<h3 class="m-5 mx-auto font-bold text-lg">Triennale</h3>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-y-3 md:gap-y-0 gap-x-5">
		<ButtonMain icon_class="fa fa-whatsapp" name="C1 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C2 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C3 Primo anno LT" url="#" />
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-y-3 md:gap-y-0 gap-x-5">
		<ButtonMain icon_class="fa fa-whatsapp" name="C1 Secondo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C2 Secondo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C3 Secondo anno LT" url="#" />
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-y-3 md:gap-y-0 gap-x-5">
		<ButtonMain icon_class="fa fa-whatsapp" name="C1 Terzo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C2 Terzo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C3 Terzo anno LT" url="#" />
	</div>
	<h3 class="m-5 m-auto font-bold">Magistrale</h3>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-y-3 md:gap-y-0 gap-x-5">
		<ButtonMain icon_class="fa fa-whatsapp" name="C1 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C2 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C3 Primo anno LT" url="#" />
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-y-3 md:gap-y-0 gap-x-5">
		<ButtonMain icon_class="fa fa-whatsapp" name="C1 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C2 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C3 Primo anno LT" url="#" />
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-y-3 md:gap-y-0 gap-x-5">
		<ButtonMain icon_class="fa fa-whatsapp" name="C1 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C2 Primo anno LT" url="#" />
		<ButtonMain icon_class="fa fa-whatsapp" name="C3 Primo anno LT" url="#" />
	</div>
</figure>
