---
export interface Props {
	Language: string;
	slug: string;
}
import raw_data from '../assets/data.json';
import TabLine from './TabLine.astro';
const { Language, slug } = Astro.props;
let data = raw_data.links.filter((e) => e.course_id == slug);
let years: {
	course_id: string;
	group_id: string;
	platform: string;
	prefix?: string;
	id: string;
	year: number;
	section: number;
	display_name: string;
}[][] = [];
for (let i = 0; i < data.length; i++) {
	let year = data[i].year - 1;
	if (years[year] == undefined) years[year] = [];
	years[year].push(data[i]);
}
---

<figure class="w-full flex flex-col items-center text-white px-[1em] py-0 bg-fucsia grid gap-y-5 pb-5">
	<h3 class="m-5 mx-auto font-bold text-lg">{Language == 'it' ? <>Triennale</> : <>Bachelor</>}</h3>
	{
		years.map((e, i) => {
			if (i < 3) return <TabLine links={e} />;
		})
	}
	<h3 class="m-5 m-auto font-bold">{Language == 'it' ? <>Magistrale</> : <>Master</>}</h3>
	{
		years.map((e, i) => {
			if (i >= 3) return <TabLine links={e} />;
		})
	}
</figure>
