---
import '../assets/style.css';
import 'virtual:windi.css';

import Default from './Default.astro';
import Section from '~/components/Section.astro';
import ButtonMain from '~/components/ButtonMain.astro';

// export interface Props {
//   title: string;
// }

// const { title } = Astro.props;
---

<Default title="Design">
	<header class="relative">
		<nav class="background_gradient h-[70vh] flex flex-col w-full items-center justify-center">
			<h1 class="mb-50px text-5xl font-bold mx-auto text-center">Scuola del Design</h1>
			<div class="grid grid-cols-2 gap-6">
				<ButtonMain icon_class="fa fa-telegram" name="CANALE" url="" />
				<ButtonMain icon_class="fa fa-telegram" name="GRUPPO" url="" />
			</div>
		</nav>
	</header>

	<main class="relative flex flex-col py-50px">
		<Section slug="1">Design della <b>Comunicazione</b></Section>
		<Section slug="2">Design della <b>Moda</b></Section>
		<Section slug="3">Design del <b>Prodotto</b></Section>
		<Section slug="4">Design degli <b>Interni</b></Section>
		<Section slug="5"
			>Design<b> Engineering</b><br /><b> Product Service System</b> Design<br /> <b>Digital Interaction</b> Design
		</Section>
	</main>

	<footer>PoliNetwork</footer>
</Default>
